<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>16G1036</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.Ellesmere</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Ellesmere Configuration Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>EllesmereHEVC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProbeScore</key>
			<integer>60000</integer>
			<key>IOProviderClass</key>
			<string>AMDRadeonX4000_AMDEllesmereGraphicsAccelerator</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOGVACodec</key>
				<string>AMDU7V4</string>
				<key>IOGVAH264EncodeCapabilities</key>
				<dict>
					<key>VTQualityRating</key>
					<integer>50</integer>
					<key>VTRating</key>
					<integer>300</integer>
				</dict>
				<key>IOGVAHEVCDecode</key>
				<string>1</string>
				<key>IOGVAHEVCDecodeCapabilities</key>
				<dict>
					<key>VTPerProfileDetails</key>
					<dict>
						<key>1</key>
						<dict>
							<key>VTMaxDecodeLevel</key>
							<integer>153</integer>
						</dict>
						<key>2</key>
						<dict>
							<key>VTMaxDecodeLevel</key>
							<integer>153</integer>
						</dict>
						<key>3</key>
						<dict>
							<key>VTMaxDecodeLevel</key>
							<integer>153</integer>
						</dict>
					</dict>
					<key>VTSupportedProfileArray</key>
					<array>
						<integer>1</integer>
						<integer>2</integer>
						<integer>3</integer>
					</array>
				</dict>
				<key>IOGVAHEVCEncode</key>
				<string>1</string>
				<key>IOGVAHEVCEncodeCapabilities</key>
				<dict>
					<key>VTPerProfileDetails</key>
					<dict>
						<key>1</key>
						<dict>
							<key>VTMaxEncodeLevel</key>
							<integer>153</integer>
						</dict>
					</dict>
					<key>VTQualityRating</key>
					<integer>50</integer>
					<key>VTRating</key>
					<integer>350</integer>
					<key>VTSupportedProfileArray</key>
					<array>
						<integer>1</integer>
					</array>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
